<div class="section-container d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row">
      <div data-aos="fade-right" class="col-12 col-md-8 order-2 order-md-1">
        <app-map></app-map>
      </div>
      <div class="col-12 col-md-4 d-flex align-items-center justify-content-center order-1 order-md-2">
        <div class="container-text">
          <h1 data-aos="fade-down">Sede</h1>
          <hr data-aos="zoom-in">
          <p data-aos="fade-up">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur error mollitia alias
            officiis placeat sit eos laudantium ea, obcaecati facilis in libero eum illum reiciendis accusantium
            voluptas tenetur voluptates cupiditate.</p>
        </div>

      </div>
    </div>
  </div>

</div>
