<div class="section-container d-flex d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-12 text-center container-text">
        <h1 data-aos="fade-down">APP SCREENSHOTS</h1>
        <hr data-aos="zoom-in">
        <p data-aos="fade-up">Las siguientes capturas muestran un demo de la aplicación, presentando las principales funciones que incluye.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-carousel-multiple></app-carousel-multiple>
      </div>
    </div>
  </div>
</div>

