@import '../../../assets/scss/vars';

agm-map {
  width: 100%;
}

// .agm-map-container-inner.sebm-google-map-container-inner {
//   border-radius: 15px !important;
// }

agm-map ::ng-deep .agm-map-container-inner {
  border-radius: 20px !important;
}

.mark-title {
  color: $color-primary-green;
}
