@import '../../../assets/scss/vars';

.chart-design {
  border-radius: 20px;
  -webkit-box-shadow: 3px 4px 15px -5px #000000;
  box-shadow: 3px 4px 15px -5px #000000;
}

.section-container {
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  padding: 30px;
}

.tbl-section-row {
  display: flex;
  padding: 0px;

  &:hover {
    background-color: #58611e33;
    cursor: pointer;
  }

  &:active {
    background-color: #58611e67;
  }

  div {
    width: 16.6%;
    padding: 2px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;

    border: {
      right: 2px solid $color-dart-green;
      left: 2px solid $color-dart-green;
      bottom: 2px solid $color-dart-green
    }

    ;
    color: $color-dart-green;
    // background-color: white;
    text-align: center;
  }

  &.tbl-title div {
    background-color: $color-dart-green;
    color: white;
  }
}

.tlb-row-container {
  min-width: 800px;
  // overflow-x: auto;

}
