<div class="section-container d-flex d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-12 text-center container-text">
        <h1 data-aos="fade-down">ABOUT OUR APP</h1>
        <hr data-aos="zoom-in">
        <p data-aos="fade-up">Bienvenido a CashCoin, una app que facilitara tus finanzas.</p>
      </div>
    </div>
    <div class="row d-flex align-items-center justify-content-center ">
      <div class="col-12 col-md-6 container-image" data-aos="zoom-in-right" >
        <img [src]="this.ASSETS + '/img/telefonos.png'" >
      </div>
      <div class="col-12 col-md-6 container-description" data-aos="zoom-in-left">
        <h1>Un vistazo a la App</h1>
        <p>CashCoin es una aplicación móvil multiplataforma con el enfoque Fintech, la cual nos permite gestionar nuestras transacciones y ahorros, simplificando la vida de los usuarios.</p>
      </div>
    </div>
  </div>
</div>
