<div class="section-container d-flex d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-12 text-center container-text">
        <h1 data-aos="fade-down">ABOUT OUR APP</h1>
        <hr data-aos="zoom-in">
        <p data-aos="fade-up">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur error mollitia alias officiis placeat sit eos laudantium ea, obcaecati facilis in libero eum illum reiciendis accusantium voluptas tenetur voluptates cupiditate.</p>
      </div>
    </div>
    <div class="row d-flex align-items-center justify-content-center ">
      <div class="col-12 col-md-6 container-image" data-aos="zoom-in-right" >
        <img [src]="this.ASSETS + '/img/telefonos.png'" >
      </div>
      <div class="col-12 col-md-6 container-description" data-aos="zoom-in-left">
        <h1>Take a Look Around our App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, aperiam! Placeat expedita doloribus culpa qui architecto voluptate perspiciatis est temporibus repellat quas, sequi incidunt dicta possimus nemo excepturi eveniet totam.</p>
      </div>
    </div>
  </div>
</div>
