@import '../../../assets/scss/vars';

.section-container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(-43deg, $color-primary-grey 50%, 50%, $color-light-green 100%);
}

.container-text {
  max-width: 600px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  // margin-bottom: 100px;
  h1 {
    font: {
      size: 35px;
      weight: 500;
    }
    color: black;
  }

  hr {
    border: 2px solid $color-primary-green;
    width: 250px;
    opacity: 1;
    display: block;
    margin: {
      left: auto;
      right: auto;
    }
  }

  p {
    font: {
      size: 15px;
      weight: 300;
    }
  }
}

// img {
//   max-width: 200px;
// }