<div class="section-container d-flex align-items-center justify-content-center">
  <div class="container ">
    <div class="row">
      <div class="col-12 col-md-4 d-flex align-items-center justify-content-center">
        <div class="container-text">
          <h1 data-aos="fade-down">Tecnologías que nos Respaldan</h1>
          <hr data-aos="zoom-in">
          <p data-aos="fade-up">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur error mollitia alias
            officiis placeat sit eos laudantium ea, obcaecati facilis in libero eum illum reiciendis accusantium
            voluptas tenetur voluptates cupiditate.</p>
        </div>
      </div>
      <div class="col-12 col-md-8 d-flex align-items-center justify-content-center">
        <div class="row">
          <div class="col-6 d-flex align-items-center justify-content-center">
            <img data-aos="fade-up" [src]="logo.flutter" width="90%">
          </div>
          <div class="col-6">
            <div class="row p-0 m-0">
              <div class="col-12 p-0 m-0 mb-5 d-flex align-items-center justify-content-center">
                <img data-aos="fade-up" [src]="logo.dart" width="90%">
              </div>
              <div class="col-12 p-0 m-0 d-flex align-items-center justify-content-center">
                <img data-aos="fade-up" [src]="logo.go" width="90%">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
